@import url('https://fonts.googleapis.com/css2?family=Madimi+One&family=Montserrat:wght@300;400&family=Poppins:wght@300;400&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("back.jpg");
    box-sizing:border-box;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(223, 95, 10);
}
.center{
    width: 400px;
    background-color: rgba(175, 173, 173, 0.399);
    backdrop-filter: blur(10px);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 200px;
    /* border: 2px solid black; */
    border-radius: 20px;
    /* filter: blur(8px); */
  /* -webkit-filter: blur(8px); */
}
.convertor{
    font-size: 33px;
    font-weight: 600;
    margin: 15px 0;
}
.amount{
    position: relative;
    margin: 10px 0;
}
.amount p{
    font-size: 20px;
}
.amount input{
    width: 70%;
    height: 40px;
    border: 2px solid black;
    border-radius: 20px;
    font-size: 20px;
    padding-left: 10px;
    text-align: center;
}
.dropdowns{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 15px 0;
}
button{
   margin-bottom: 40px;
}
img{
    height: 30px;
    position: absolute;
    padding:  5px 0 0 5px;
}
.select_container select{
    height: 40px;
    width: 90px;
    text-align:right;
    font-weight:700;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
}
.select_container_TO select{
    height: 40px;
    width: 90px;
    text-align:right;
    font-weight:700;
    font-size: 16px;
    border-radius: 15px;
    cursor: pointer;
    /* border: 2px solid black; */
}
.conversion{
    margin: 30px 0;
    font-size: 22px;
    font-weight: 600;
}

button{
    padding: 5px 15px;
    border: 0px;
    background-color: rgb(176, 54, 9);
    border-radius: 15px;
    color: white;
    font-size: 26px;
    font-weight: 400;
    cursor: pointer;
    transition: .2s;
}
button:hover{
    transform: scale(0.96);
}
@media(max-width:750px){
    .center{
        width: 390px;
    }
}